.divmain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 95px;
}
.divmain label {
    font-weight: 600;
    font-size: 48px;
    color: darkmagenta;
    margin: 10px 10px 40px;
}