.divmain {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.sectiontext {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 40%;
    padding: 15px 15px 15px 55px;
}
.sectiontext label:first-child {
    color: darkmagenta;
    margin: 35px 15px 5px;
}
.sectiontext label:nth-child(2) {
    font-size: 48px;
    margin: 15px;
    font-weight: 600;
}
.sectiontext label:last-child {
    margin: 15px;
    font-size: 24px;
}
.sectionphoto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    background-color: var(--var-lightmagenta);
}

.sectionphoto img {
    border-radius: 35px;
    margin: 60px;
}

.divmain_vertical {
    flex-direction: column;
    align-items: center;
}
.divmain_vertical .sectionphoto {
    width: 100%;
}
.divmain_vertical .sectiontext {
    width: 95%;
    padding: 0px;
}


