.divmain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.divmain label {
    font-weight: 600;
    font-size: 48px;
    color: darkmagenta;
    margin: 10px 10px 40px;
}
.divmain table {
    border-spacing: 0 15px;
    font-size: 20px;
}
.divmain td {
    border-bottom: 1px solid var(--var-magenta2);
    padding: 10px;
}