.divmain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.divmain label {
    font-weight: 600;
    font-size: 48px;
    color: darkmagenta;
    margin: 40px 10px 40px;
}
.divmain section {
    margin: 20px 85px 45px;
    font-size: 24px;
}