header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    border-bottom: 2px solid darkmagenta;

    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

header label {
    width: 40%;
    margin: 10px;
    text-align: center;
    font-size: 18px;
}

header ul {
    list-style: none;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 10px 5% 10px 5px;
}
header ul li {
    padding: 10px;
    color: black;
    text-decoration: none;
    border-radius: 8px;
}
header ul li:hover {
    background-color: var(--var-lightmagenta);
    transition: background-color 0.8s linear;
    cursor: pointer;
}