.divmain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 1px solid darkmagenta;
}
.divimages {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.divimages img {
    width: 27%;
    object-fit: cover;
    transition: all 1s linear;
}
.divimages img:hover {
    transform: scale(1.22);
}
.divtitle {
    color: darkmagenta;
    font-weight: 600;
    font-size: 36px;
    margin: 55px 10px;
}
.divmain section {
    border-radius: 16px;
    background-color: #ffeeff;
    font-size: 18px;
    width: 40%;
    margin: 5px 20px;
    padding: 20px;
}
.divdescription {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}
.divdescription_vertical {
    flex-direction: column-reverse;
    align-items: center;
}
.divdescription_vertical > section {
    width: 80%;
}
