.divmain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.divmain label {
    font-weight: 600;
    font-size: 48px;
    color: darkmagenta;
    margin: 10px 10px 40px;
}
.divmain table {
    border-spacing: 0 15px;
    font-size: 20px;
}
.divmain td {
    padding-right: 15px;
    text-align: center;
}
.divmain img {
    width: 45px;
    height: 45px;
    object-fit: contain;
    padding: 5px;
    border-radius: 10px;
}
.divmain table a {
    text-decoration: none;
    color: darkmagenta;
}